@use "sass:color";
@use "sass:math";

$bluegem: #1d65d1;
$redgem: #b40d0d;
$whitegem: #dadada;
$greengem: #00a015;
$blackgem: #6b3801;
$goldgem: #FFDF00;
$gemtypes: "blue", "red", "white", "green", "black", "gold";
$gemsize: 2rem;
$gemborderwidth: 0.15rem;

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: 
        url("./wood_grain_texture.png"),
        radial-gradient(circle,rgba(191, 124, 0, 1) 0%,
                               rgba(145, 105, 31, 1) 80%, 
                               rgba(0, 0, 0, 1) 100%);
    color: white;
    user-select: none;
    font-family: sans-serif;
}

#board {
    padding: 4.5% 15% 0;
    display: flex;
    flex-direction: column;
    height: 80%;
    & > :last-child {
        padding-bottom: 0 !important;
    }
}

#nobles, #market, .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding-bottom: 1%;
}

[class$="-slot"] {
    background-color: black;
}

.noble-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(($gemborderwidth * 2 + $gemsize) * 3);
    height: calc(($gemborderwidth * 2 + $gemsize) * 3);
    border: white solid medium;
    border-radius: 10%;
    clip-path: border-box;
}

.row {
    padding-top: 0.5%;
    height: 100%;
}

@mixin gem-base($gem-color) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $gemsize;
    height: $gemsize;
    border: solid $gemborderwidth white;
    border-radius: 50%;
    font-size: 32px;
    &:hover {
        cursor: pointer;
    }
    @if $gem-color == "blue" {
        border-color: $bluegem;
        background-color: color.adjust($bluegem, $lightness: -15%);
    } @else if $gem-color == "red" {
        border-color: $redgem;
        background-color: color.adjust($redgem, $lightness: -10%);
    } @else if $gem-color == "white" {
        border-color: $whitegem;
        background-color: color.adjust($whitegem, $lightness: -15%);
    } @else if $gem-color == "green" {
        border-color: $greengem;
        background-color: color.adjust($greengem, $lightness: -10%);
    } @else if $gem-color == "black" {
        border-color: $blackgem;
        background-color: color.adjust($blackgem, $lightness: -10%);
    } @else if $gem-color == "gold" {
        border-color: $goldgem;
        background-color: color.adjust($goldgem, $lightness: -10%);
    } @else {
        @error "Unknown gem type #{$gem-color}.";
    }
}

@each $type in $gemtypes {
    .gem[gem-type="#{$type}"] {
        @include gem-base($type)
    }
}

.card-slot {
    border: transparent solid medium;
    border-color: inherit;
    clip-path: border-box;
    border-radius: 10%;
    min-width: calc(($gemborderwidth * 2 + $gemsize) * 4);
    height: 100%;
    &:hover {
        cursor: pointer;
    }
}

.drawpile {
    position: relative;

    .draw-caption {
        position: absolute;
        top: 5%;
        left: 0;
        right: 0;
        text-align: center;
    }

    // Container element for svg
    .tier-footer {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

        svg {
            padding: 0 5px;
        }
    }
    
}

#draw-tier-3 {
    background: linear-gradient(135deg, #081480 0%, #1CB5E0 100%);
}

#draw-tier-2 {
    background: linear-gradient(135deg, #c67700 0%, #faff60 100%);
}

#draw-tier-1 {
    background: linear-gradient(135deg, #008552 0%, #9ebd13 100%);
}

.inventory-shelf {
    position: absolute;
    display: flex;
    justify-content: center;
    
    &.winner {
        background: cadetblue; // Placeholder
    }

    .points-display-container, .nobles-count-display-container {
        align-self: center;
        font-size: 32px;
    }

    .gem-sub-shelf {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .gem-container {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .dev-gem-yield {
            font-size: 24px;
        }
    }

    &.vertical-shelf {
        flex-direction: column;
        top: 0;
        bottom: 0;
        .dev-gem-yield {
            position: relative;
        }
        .points-display-container, .nobles-count-display-container {
            padding: 2.5% 0;
        }
        .gem-sub-shelf {
            flex-direction: column;
        }
        .gem-container {
            padding: 3% 0;
        }
        &.left-shelf {
            left: $gemborderwidth;
            border-right: transparent medium solid;
            .gem-container {
                flex-direction: row;
            }
            .dev-gem-yield {
                left: 20%;
            }
        }
        &.right-shelf {
            right: $gemborderwidth;
            border-left: transparent medium solid;
            .gem-container {
                flex-direction: row-reverse;
            }
            .dev-gem-yield {
                right: 20%;
            }
        }
    }
    
    &.horizontal-shelf {
        flex-direction: row;
        left: 0;
        right: 0;
        .points-display-container, .nobles-count-display-container {
            padding: 0 2.5%;
        }
        .gem-container {
            padding: 0 2%;
        }
        &.bottom-shelf {
            bottom: $gemborderwidth;
            border-top: transparent medium solid;
            .gem-container {
                flex-direction: column-reverse;
            }
        }
        &.top-shelf {
            top: $gemborderwidth;
            border-bottom: transparent medium solid;
            .gem-container {
                flex-direction: column;
            }
        }
    }

    &.current-player {
        border-color: rebeccapurple !important;
    }
}

.blocker {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    background: rgba(180, 184, 189, 0.75);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

.dev-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .dev-card-header {
        font-size: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: whitesmoke solid medium;

        span {
            margin: 2px 5px;
        }
    }
}

.cost-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    .cost-row {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .gem-container {
            padding: 2px;
        }
    }
}

#action-display {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    background: rgba(100, 100, 100, 0.8);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .gem {
        margin: 0 5px;
    }
    .action-button-container {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .action-button {
            border: solid rgb(63, 63, 63) medium;
            color: white;
            margin: 0 2px;
            font-size: 32px;
            &.cancel {
                background-color: darkred;
            }
            &.confirm {
                background-color: darkgreen;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}
